services:
  - type: web
    name: rnt-hub
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "0"
      - key: DJANGO_ALLOWED_HOSTS
        value: rnt-hub.onrender.com
databases:
  - name: db
    plan: free
